@import "tailwindcss";
@plugin "daisyui" {
  themes: wireframe --default;
}

@font-face {
  font-family: SFPro;
  src: url("./assets/fonts/SF-Pro-Rounded-Regular.ttf");
}

@theme {
  --default-font-family: SFPro, sans-serif;
  --bg-green-img: url("./assets/img/image.png");
}
